@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/ManropeRegular.ttf");
  font-family: "Manrope";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/RedHatDisplayBold.ttf");
  font-family: "Red Hat Display";
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NotoSansItalic.ttf");
  font-family: "Noto Sans";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/ManropeMedium.ttf");
  font-family: "Manrope";
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/RedHatDisplayRegular.ttf");
  font-family: "Red Hat Display";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/ManropeSemiBold.ttf");
  font-family: "Manrope";
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/ManropeBold.ttf");
  font-family: "Manrope";
  font-weight: 700;
}